/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  h1{
    text-align: center;
  }

  p {
    color: #555;
  }
  
  button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #053a73;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  li input[type="checkbox"] {
    margin-right: 10px;
  }
  